/* C================
Common Css
================ */
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.navy_color{
    color: #363958 !important;
}
.para_color{
    color: #3E3E3E !important;
}
.orange_color{
    color: #fa804c !important;
}


header{
    background: #FFF9F4;
}
.nav_logo_link img{
    width: 290px;
}
.navigationg_links li a{
    color: #3C3C3C;
}
.banner_img img{
    width: 80%;
}
.banner_details h1{
    color: #363958;
}
.banner_details h1 span{
    color: #fa804c;
}
.banner_details p{
    color: #3E3E3E;
}
.show{
    border-radius: 15px;
}
.show .show_img{
    border-radius: 10px;
}
.show .show_img img{
    width: 310px;
    height: 310px;
}